* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg: rgb(48, 48, 48);
  --outer-border: white;
  --inner-border: rgb(160, 160, 160);
  --font-colour: white;
  --red-color: rgb(255, 36, 36);
}

body {
  overflow: hidden;
}

main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #112a46,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #112a46,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.left_container {
  width: 100vw;
  /* border-right: 5px solid var(--outer-border); */
  height: 100vh;
}

.videos_gallery {
  height: 87.5vh;
  width: 90vw;
}

#video-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: space-evenly;
}

video {
  width: 35vw;
  max-width: 1000px;
  aspect-ratio: 16/9;
  margin: 2% 0;
  border-radius: 20px;
  /* background-color: rgba(255, 255, 255, 0.075); */
  border: 4px solid var(--inner-border);
  padding: 0;
}

.control-panel {
  position: absolute;
  bottom: 2%;
  left: 50%;
  z-index: 5;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 10vh;
  padding: 2%;
  padding-top: 3%;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid white;
  border-radius: 20px;
  /* border: 2px solid var(--outer-border); */
  width: 80%;
  margin: auto;
  color: var(--font-colour);

  font-size: 1.75rem;
}

.control-panel i {
  cursor: pointer;
  color: rgb(124, 255, 255);
}

.control-panel i.red,
i.fa-video-slash,
i.fa-microphone-slash {
  color: var(--red-color);
}

.control-panel i.fa-robot {
  color: rgba(0, 168, 64, 0.5);
}

.control-panel i.fa-robot.active {
  color: rgb(0, 255, 98);
}

.control-panel div {
  display: flex;
  margin: 1%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.control-panel div span {
  font-size: 1.2rem;
  margin: 5px 0;
  display: block;
}

.messages_parent_div,
.participant-container {
  transition: all 0.75s ease-out;
  background-color: rgba(7, 7, 7, 0.75);
  border-radius: 20px;
  width: 50vw;
  height: 75vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.messages_parent_div h2 {
  font-size: 1.8rem;
  color: white;
}

.messages_container {
  height: 55vh;
  overflow-y: auto;
}

.input_container i {
  color: rgb(0, 255, 98);
  cursor: pointer;
  font-size: 1.5rem;
}

.input_container {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.input_container input {
  height: 5vh;
  resize: none;
  border: none;
  outline: none;
  border-radius: 0px;
  width: 80%;
  border-radius: 35px 0 35px 35px;
  background-color: rgb(196, 196, 196);
  font-size: 1.25rem;
  padding: 3%;
  overflow: auto;
}

i:hover {
  opacity: 0.5;
}

#message-inbox {
  /* height: 40vh; */
  list-style: none;
}

#message-inbox li {
  /* background-color: cyan; */
  font-size: 1.25rem;
  overflow: auto;
  margin: 3%;
  padding: 2%;
  width: 75%;
}

#message-inbox li.sent {
  /* background-color: rgba(10, 10, 10, 0.5); */
  border: 4px solid grey;
  margin-left: auto;
  border-radius: 20px 0 20px 20px;
}

#message-inbox li.recieved {
  border: 4px solid white;
  /* background-color: rgba(10, 10, 10, 0.8); */
  border-radius: 0 20px 20px 20px;
}

#message-inbox li strong::after {
  content: ":";
  margin-right: 5px;
}

#message-inbox li span {
  color: white;

  /* width: 100%;
  display: inline-block; */
}

#message-inbox li strong {
  color: rgb(156, 156, 156);
  text-transform: capitalize;
}

div h2 {
  font-size: 1.75rem;
  text-transform: uppercase;
  padding: 1%;
  text-align: center;
  border-bottom: 2px solid white;
}

.participant-container ul {
  padding: 2%;
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style: none;
}

.participant-container i.fa-times-circle,
.messages_parent_div i.fa-times-circle {
  font-size: 1.75rem;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  color: var(--red-color);
}

.participant-container.inactive {
  top: -100vh;
}

.participant-container li {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.participant-container li i:hover {
  opacity: 1;
  cursor: default;
}

.participant-container li span {
  width: 40vw;
  text-align: left;
  display: inline-block;
  /* background-color: red; */
}

.messages_parent_div.inactive {
  left: -100vh;
}
